/**** Main ****/
:root {
  --body-color: #fff;
  --text-color: #070707;
  --hero-color: linear-gradient(to top, rgb(127 129 141 / 43%), rgb(175 131 131 / 69%));
  --border-color: #6967678e;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: var(--body-color);
  color: var(--text-color);
  animation: fadeIn 2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/**** Dark mode and toggle settings ****/
body.dark {
  --body-color: #070707;
  --text-color: #fff;
  --hero-color: linear-gradient(rgb(31 25 25 / 36%), rgb(49 43 43 / 19%));
  --border-color: rgb(54 52 52);
}

dark-light-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: baseline;
  margin: 35px;
}

dark-light-toggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

dark-light-toggle i.fa-sun {
  opacity: 0;
  pointer-events: none;
}

dark-light-toggle.active i.fa-sun {
  opacity: 1;
  pointer-events: auto;
}

dark-light-toggle.active i.fa-moon {
  opacity: 0;
  pointer-events: none;
}

/****  Header ****/
header {
  display: flex;
  height: 500px;
  width: 100vw;
  padding: 50px 5vw 0 5vw;
  background-image: var(--hero-color),
    url(https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1744&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  animation: move-bg 60s linear infinite;
}

@keyframes move-bg {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

header-text {
  max-width: 800px;
  padding: 10px;
}

h1 {
  font-size: 3rem;
  line-height: 1;
  padding-bottom: 1rem;
}

h2 {
  font-size: 0.9rem;
  padding-bottom: 1rem;
  font-weight: 300;
}

/**** Header button ****/

#github-btn {
  background-color: #e2703a;
  border: 1px solid #e2703a;
  padding: 5px;
  position: relative;
  width: 7rem;
  height: 2.2rem;
  font-size: 0.9rem;
  border-radius: 1rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

#github-btn svg {
  height: 1.2rem;
  fill: #fff;
}

#github-btn:hover {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

/**** Main image grid ****/
main {
  padding: 0 5vw 0 5vw;
}

grid-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lottie-arrow {
  fill: var(--text-color);
}

h3 {
  font: bold 1.1rem "Kalam", cursive;
  text-align: center;
  padding: 35px 0 0 0;
}

.image-grid {
  --gap: 1rem;
  --num-cols: 2;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(var(--num-cols), 1fr);
  gap: var(--gap);
}

.big-card {
  grid-column: span 2;
  grid-row: span 2;
}

.card {
  position: relative;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
  aspect-ratio: 1/1;
  border-radius: 0.5rem 2rem;
}
.card img {
  background-color: transparent;
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 0.5rem 2rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  display: block;
}

.card-front,
.card-back {
  position: absolute;
  aspect-ratio: 1/1;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 2rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
  border: 1px solid var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.card:hover .card-front {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  transform: rotateY(0);
}

.card-back p {
  font-size: 0.9rem;
  padding: 1rem;
  max-width: 100%;
  overflow: hidden;
}

/**** Footer ****/

footer {
  border-top: 1px var(--border-color) double;
  height: 200px;
  width: 100vw;
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#linkedin-btn {
  background-color: transparent;
  border: none;
}

#linkedin-btn:hover {
  transform: scale(1.2);
  transition: 0.4s;
}

#linkedin-btn img {
  width: 40px;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-weight: 300;
  font-size: 1rem;
}

/****  Media queries ****/
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 1.3rem;
    text-align: center;
  }

  header {
    background-size: inherit;
  }

  @keyframes move-bg {
    from {
      background-position: 0 10%;
    }
    to {
      background-position: 0 100%;
    }
  }

  .image-grid {
    --num-cols: 4;
  }

  .size-down {
    grid-column: span 1;
    grid-row: span 1;
  }

  .size-up {
    grid-column: span 2;
    grid-row: span 2;
  }

  .card-back p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  main {
    padding: 0 18vw 0 18vw;
  }

  header {
    background-size: cover;
    padding: 60px 18vw 0 18vw;
  }

  @keyframes move-bg {
    from {
      background-position: 0 25%;
    }
    to {
      background-position: 0 100%;
    }
  }
}
